<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>数据展示平台</title>
    <script type="text/javascript" src="../static/js/jquery.js"></script>
    <script type="text/javascript" src="../static/js/echarts.min.js"></script>
    <script type="text/javascript" src="../static/js/echarts-wordcloud.js"></script>
    <script type="text/javascript" src="../static/js/jquery.liMarquee.js"></script>
    <script type="text/javascript" src="../static/js/js.js"></script>
    <script src="../static/js/swiper.min.js"></script>
    <link rel="stylesheet" href="../static/css/swiper.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/liMarquee.css">
</head>
<body>
<div class="head clearfix">
    <div class="home"><a href="/home"><img src="../static/images/Home.png" width="28"> <i> 首页</i></a></div>
    <div class="menu menu1 pulll_left">
        <ul>
            <li><a href="">功能菜单一 </a></li>
            <li><a href="">功能菜单二</a></li>

        </ul>
    </div>
    <h1 class="pulll_left">C.C · 电商数据展示平台</h1>
    <div class="menu menu2 pulll_left">
        <ul>
            <li><a href="">功能菜单一 </a></li>
            <li><a href="">功能菜单二</a></li>
        </ul>
    </div>

    <div class="time" id="showTime">2023/6/12 17:00:12</div>
    <script>
        var t = null;
        t = setTimeout(time, 1000);//開始运行
        function time() {
            clearTimeout(t);//清除定时器
            dt = new Date();
            var y = dt.getFullYear();
            var mt = dt.getMonth() + 1;
            var day = dt.getDate();
            var h = dt.getHours();//获取时
            var m = dt.getMinutes();//获取分
            var s = dt.getSeconds();//获取秒
            document.getElementById("showTime").innerHTML = y + "/" + mt + "/" + day + " " + h + ":" + m + ":" + s + "";
            t = setTimeout(time, 1000); //设定定时器，循环运行
        }

    </script>
</div>
<div class="mainbox">
    <ul class="clearfix nav1">
        <li style="width: 25%">
            <div class="box">
                <div class="tit">各省份购买占比</div>
                <div class="boxnav" id="echart1" style="height: 240px;">

                </div>
            </div>
            <div class="box">
                <div class="tit">用户访问渠道·Top5</div>
                <div class="boxnav" style="height: 240px;" id="echart21">
                </div>
            </div>

            <div class="box">
                <div class="tit">用户搜索词·词云</div>
                <div class="boxnav" id="echart3" style="height: 240px;">

                </div>
            </div>
        </li>
        <li style="width: 50%">

            <div class="box">
                <div class="boxnav mapc" style="height: 500px; position: relative; padding: 0">


                    <div class="swiper-container gallery-top">
                        <div class="mapnav">
                            <ul>
                                <li>
                                    <div><span>当日收入总金额</span>
                                        <p id="amount">0</p></div>
                                </li>
                                <li>
                                    <div><span>下单数</span>
                                        <p id="下单数">0</p></div>
                                </li>
                                <li>
                                    <div><span>下单人数</span>
                                        <p id="下单人数">0</p></div>
                                </li>
                                <li>
                                    <div><span>退单数</span>
                                        <p id="退单数">0</p></div>
                                </li>
                                <li>
                                    <div><span>退单人数</span>
                                        <p id="退单人数">0</p></div>
                                </li>
                            </ul>
                            <script>
                                function makeAjaxRequest() {
                                    $.ajax({
                                        url: "http://localhost:8070/api/pyecharts/gmv",
                                        type: "GET",
                                        dataType: "JSON",
                                        success: function (res) {
                                            document.getElementById("amount").innerHTML = res.data;
                                        }
                                    });
                                }

                                // 每隔10秒执行一次Ajax请求
                                setInterval(makeAjaxRequest, 2000);

                                function makeAjaxRequest1() {
                                    $.ajax({
                                        url: "http://localhost:8070/api/pyecharts/statistics",
                                        type: "GET",
                                        dataType: "JSON",
                                        success: function (res) {
                                            document.getElementById(res.data[0].type).innerHTML = res.data[0].value;
                                            document.getElementById(res.data[1].type).innerHTML = res.data[1].value;
                                            document.getElementById(res.data[2].type).innerHTML = res.data[2].value;
                                            document.getElementById(res.data[3].type).innerHTML = res.data[3].value;
                                        }
                                    });
                                }

                                // 每隔10秒执行一次Ajax请求
                                setInterval(makeAjaxRequest1, 2000);
                            </script>

                        </div>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide active" style="background-image:url(../static/images/1.jpg)"></div>
                            <div class="swiper-slide" style="background-image:url(../static/images/2.jpg)"></div>
                            <div class="swiper-slide" style="background-image:url(../static/images/3.jpg)"></div>
                            <div class="swiper-slide" style="background-image:url(../static/images/4.jpg)"></div>
                            <div class="swiper-slide" style="background-image:url(../static/images/5.jpg)"></div>
                            <div class="swiper-slide" style="background-image:url(../static/images/6.jpg)"></div>
                        </div>

                        <div class="swiper-button-next swiper-button-white"></div>

                        <div class="swiper-button-prev swiper-button-white"></div>

                    </div>

                    <div class="swiper-container gallery-thumbs">

                        <div class="swiper-wrapper">
                            <div class="swiper-slide" style="background-image:url(../static/images/1.jpg)"></div>
                            <div class="swiper-slide" style="background-image:url(../static/images/2.jpg)"></div>
                            <div class="swiper-slide" style="background-image:url(../static/images/3.jpg)"></div>
                            <div class="swiper-slide" style="background-image:url(../static/images/4.jpg)"></div>
                            <div class="swiper-slide" style="background-image:url(../static/images/5.jpg)"></div>
                            <div class="swiper-slide" style="background-image:url(../static/images/6.jpg)"></div>

                        </div>

                    </div>
                    <script>

                        var galleryThumbs = new Swiper('.gallery-thumbs', {
                            spaceBetween: 0,
                            slidesPerView: 5,
                            freeMode: true,
                            watchSlidesVisibility: true,
                            watchSlidesProgress: true,
                        });
                        var galleryTop = new Swiper('.gallery-top', {
                            spaceBetween: 10,
                            navigation: {
                                nextEl: '.swiper-button-next',
                                prevEl: '.swiper-button-prev',
                            },
                            loop: true,
                            autoplay: {
                                delay: 3000,
                                disableOnInteraction: false,
                            },
                            thumbs: {
                                swiper: galleryThumbs
                            }
                        });
                    </script>
                </div>
            </div>
            <ul class="nav1">
                <li style="width: 100%">
                    <div class="box" style="height: 362px">
                        <ul class="tit container">
                            <div class="div" style="display: flex;justify-content: center;align-items: center;">序号</div>
                            <div class="div" style="display: flex;justify-content: center;align-items: center;">SUP 名称
                            </div>
                            <div class="div" style="display: flex;justify-content: center;align-items: center;">下单次数
                            </div>
                            <div class="div" style="display: flex;justify-content: center;align-items: center;">下单人数
                            </div>
                            <div class="div" style="display: flex;justify-content: center;align-items: center;">下单总金额
                            </div>
                        </ul>
                        <style>
                            .container {
                                display: flex;
                            }

                            .div {
                                flex: 1;
                                height: 12px;
                                margin-right: 10px;
                            }

                            .spu {
                                margin: auto;
                                height: 100%;
                                width: 200px;
                                white-space: nowrap; /* 防止换行 */
                                overflow: hidden; /* 超出部分隐藏 */
                                text-overflow: ellipsis; /* 使用省略号表示被截断的文本 */
                                font-family: 'static/font/DS-DIGIB.TTF', serif;
                                font-weight: 700;
                            }

                            .spu_list {
                                height: 30px;
                            }

                            .spu_list:nth-child(odd) {
                                background-color: rgba(252, 147, 188, 1);
                            }

                            .spu_list:nth-child(even) {
                                background-color: rgba(0, 204, 255, 0.8);
                            }

                            .div:last-child {
                                margin-right: 0; /* 移除最后一个 div 的右边距 */
                            }

                            .my-e


                        </style>
                        <div class="boxnav" id="echart4">
                            <ul>
                                <div class="container spu_list">
                                    <li class="div spu" id="spuId"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                    <li class="div spu" id="spuName"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                    <li class="div spu" id="orderCount"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                    <li class="div spu" id="uuCount"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                    <li class="div spu" id="orderAmount"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                </div>
                                <div class="container spu_list">
                                    <li class="div spu" id="spuId1"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                    <li class="div spu" id="spuName1"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                    <li class="div spu" id="orderCount1"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                    <li class="div spu" id="uuCount1"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                    <li class="div spu" id="orderAmount1"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                </div>
                                <div class="container spu_list">
                                    <li class="div spu" id="spuId2"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                    <li class="div spu" id="spuName2"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                    <li class="div spu" id="orderCount2"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                    <li class="div spu" id="uuCount2"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                    <li class="div spu" id="orderAmount2"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                </div>
                                <div class="container spu_list">
                                    <li class="div spu" id="spuId3"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                    <li class="div spu" id="spuName3"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                    <li class="div spu" id="orderCount3"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                    <li class="div spu" id="uuCount3"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                    <li class="div spu" id="orderAmount3"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                </div>
                                <div class="container spu_list">
                                    <li class="div spu" id="spuId4"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                    <li class="div spu" id="spuName4"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                    <li class="div spu" id="orderCount4"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                    <li class="div spu" id="uuCount4"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                    <li class="div spu" id="orderAmount4"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                </div>
                                <div class="container spu_list">
                                    <li class="div spu" id="spuId5"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                    <li class="div spu" id="spuName5"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                    <li class="div spu" id="orderCount5"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                    <li class="div spu" id="uuCount5"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                    <li class="div spu" id="orderAmount5"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                </div>
                                <div class="container spu_list">
                                    <li class="div spu" id="spuId6"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                    <li class="div spu" id="spuName6"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                    <li class="div spu" id="orderCount6"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                    <li class="div spu" id="uuCount6"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                    <li class="div spu" id="orderAmount6"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                </div>
                                <div class="container spu_list">
                                    <li class="div spu" id="spuId7"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                    <li class="div spu" id="spuName7"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                    <li class="div spu" id="orderCount7"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                    <li class="div spu" id="uuCount7"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                    <li class="div spu" id="orderAmount7"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                </div>
                                <div class="container spu_list">
                                    <li class="div spu" id="spuId8"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                    <li class="div spu" id="spuName8"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                    <li class="div spu" id="orderCount8"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                    <li class="div spu" id="uuCount8"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                    <li class="div spu" id="orderAmount8"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                </div>
                                <div class="container spu_list">
                                    <li class="div spu" id="spuId9"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                    <li class="div spu" id="spuName9"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                    <li class="div spu" id="orderCount9"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                    <li class="div spu" id="uuCount9"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                    <li class="div spu" id="orderAmount9"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                </div>
                                <div class="container spu_list">
                                    <li class="div spu" id="spuId10"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                    <li class="div spu" id="spuName10"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                    <li class="div spu" id="orderCount10"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                    <li class="div spu" id="uuCount10"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                    <li class="div spu" id="orderAmount10"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                </div>
                                <div class="container spu_list">
                                    <li class="div spu" id="spuId11"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                    <li class="div spu" id="spuName11"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                    <li class="div spu" id="orderCount11"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                    <li class="div spu" id="uuCount11"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                    <li class="div spu" id="orderAmount11"
                                        style="display: flex;justify-content: center;align-items: center;">

                                    </li>
                                </div>
                            </ul>
                        </div>
                        <script>
                            function makeAjaxRequest() {
                                $.ajax({
                                    url: "http://localhost:8070/api/pyecharts/Spu",
                                    type: "GET",
                                    dataType: "JSON",
                                    success: function (res) {
                                        document.getElementById("spuId").innerHTML = 0;
                                        document.getElementById("spuName").innerHTML = res.data[0]["spuName"];
                                        document.getElementById("orderCount").innerHTML = res.data[0]["orderCount"];
                                        document.getElementById("uuCount").innerHTML = res.data[0]["uuCount"];
                                        document.getElementById("orderAmount").innerHTML = res.data[0]["orderAmount"];
                                        document.getElementById("spuId1").innerHTML = 1;
                                        document.getElementById("spuName1").innerHTML = res.data[1]["spuName"];
                                        document.getElementById("orderCount1").innerHTML = res.data[1]["orderCount"];
                                        document.getElementById("uuCount1").innerHTML = res.data[1]["uuCount"];
                                        document.getElementById("orderAmount1").innerHTML = res.data[1]["orderAmount"];
                                        document.getElementById("spuId2").innerHTML = 2;
                                        document.getElementById("spuName2").innerHTML = res.data[2]["spuName"];
                                        document.getElementById("orderCount2").innerHTML = res.data[2]["orderCount"];
                                        document.getElementById("uuCount2").innerHTML = res.data[2]["uuCount"];
                                        document.getElementById("orderAmount2").innerHTML = res.data[2]["orderAmount"];
                                        document.getElementById("spuId3").innerHTML = 3;
                                        document.getElementById("spuName3").innerHTML = res.data[3]["spuName"];
                                        document.getElementById("orderCount3").innerHTML = res.data[3]["orderCount"];
                                        document.getElementById("uuCount3").innerHTML = res.data[3]["uuCount"];
                                        document.getElementById("orderAmount3").innerHTML = res.data[3]["orderAmount"];
                                        document.getElementById("spuId4").innerHTML = 4;
                                        document.getElementById("spuName4").innerHTML = res.data[4]["spuName"];
                                        document.getElementById("orderCount4").innerHTML = res.data[4]["orderCount"];
                                        document.getElementById("uuCount4").innerHTML = res.data[4]["uuCount"];
                                        document.getElementById("orderAmount4").innerHTML = res.data[4]["orderAmount"];
                                        document.getElementById("spuId5").innerHTML = 5;
                                        document.getElementById("spuName5").innerHTML = res.data[5]["spuName"];
                                        document.getElementById("orderCount5").innerHTML = res.data[5]["orderCount"];
                                        document.getElementById("uuCount5").innerHTML = res.data[5]["uuCount"];
                                        document.getElementById("orderAmount5").innerHTML = res.data[5]["orderAmount"];
                                        document.getElementById("spuId6").innerHTML = 6;
                                        document.getElementById("spuName6").innerHTML = res.data[6]["spuName"];
                                        document.getElementById("orderCount6").innerHTML = res.data[6]["orderCount"];
                                        document.getElementById("uuCount6").innerHTML = res.data[6]["uuCount"];
                                        document.getElementById("orderAmount6").innerHTML = res.data[6]["orderAmount"];
                                        document.getElementById("spuId7").innerHTML = 7;
                                        document.getElementById("spuName7").innerHTML = res.data[7]["spuName"];
                                        document.getElementById("orderCount7").innerHTML = res.data[7]["orderCount"];
                                        document.getElementById("uuCount7").innerHTML = res.data[7]["uuCount"];
                                        document.getElementById("orderAmount7").innerHTML = res.data[7]["orderAmount"];
                                        document.getElementById("spuId8").innerHTML = 8;
                                        document.getElementById("spuName8").innerHTML = res.data[8]["spuName"];
                                        document.getElementById("orderCount8").innerHTML = res.data[8]["orderCount"];
                                        document.getElementById("uuCount8").innerHTML = res.data[8]["uuCount"];
                                        document.getElementById("orderAmount8").innerHTML = res.data[8]["orderAmount"];
                                        document.getElementById("spuId9").innerHTML = 9;
                                        document.getElementById("spuName9").innerHTML = res.data[9]["spuName"];
                                        document.getElementById("orderCount9").innerHTML = res.data[9]["orderCount"];
                                        document.getElementById("uuCount9").innerHTML = res.data[9]["uuCount"];
                                        document.getElementById("orderAmount9").innerHTML = res.data[9]["orderAmount"];
                                        document.getElementById("spuId10").innerHTML = 10;
                                        document.getElementById("spuName10").innerHTML = res.data[10]["spuName"];
                                        document.getElementById("orderCount10").innerHTML = res.data[10]["orderCount"];
                                        document.getElementById("uuCount10").innerHTML = res.data[10]["uuCount"];
                                        document.getElementById("orderAmount10").innerHTML = res.data[10]["orderAmount"];
                                        document.getElementById("spuId11").innerHTML = 11;
                                        document.getElementById("spuName11").innerHTML = res.data[11]["spuName"];
                                        document.getElementById("orderCount11").innerHTML = res.data[11]["orderCount"];
                                        document.getElementById("uuCount11").innerHTML = res.data[11]["uuCount"];
                                        document.getElementById("orderAmount11").innerHTML = res.data[11]["orderAmount"];

                                    }
                                });
                            }

                            setInterval(makeAjaxRequest, 1000);
                        </script>
                        <style>
                            #echart4 {
                                height: 320px; /* 设置容器的高度 */
                                overflow: hidden; /* 隐藏溢出内容 */
                            }

                            #echart4 ul {
                                list-style-type: none;
                                margin: 0;
                                padding: 0;
                                animation: marquee 15s linear infinite; /* 设置滚动动画 */
                                position: relative; /* 添加相对定位，用于实现循环效果 */
                                top: 0; /* 初始位置 */
                            }

                            #echart4 li {
                                line-height: 20px; /* 设置行高，控制垂直间距 */
                            }

                            @keyframes marquee {
                                0% {
                                    top: 0; /* 初始位置 */
                                }
                                50% {
                                    top: -16%; /* 中间位置，根据需要调整滚动距离 */
                                }
                                100% {
                                    top: 0; /* 结束位置，回到初始位置 */
                                }
                            }
                        </style>
                    </div>
                </li>

            </ul>

        </li>
        <li style="width: 25%">
            <div class="box">

                <div class="boxnav" style="height: 76px;">
                    <div class="weather">
                        <div class="">
                            <div class="wt1">
                                <div class="wt2"><img src="../static/images/weather.png">
                                    <p id="实时温度">0<sup>℃</sup></p></div>
                                <span id="天气情况">c.c.</span>
                            </div>

                        </div>
                        <div class="wt03">
                            <p><span>气温：</span><span id="气温">c.c.</span><span>星期：</span><span id="星期">c.c.</span></p>
                            <p><span>湿度：</span><span id="湿度">c.c.</span><span>地区：</span><span id="地区">c.c.</span></p>
                            <p><span>风况：</span><span id="风况">c.c.</span><span>空质：</span><span id="空气质量">c.c</span></p>
                        </div>
                        <script>
                            $.ajax({
                                url: "https://www.yiketianqi.com/free/day?appid=99843139&appsecret=8Qxh0NDo&unescape=1&cityid=101250101",
                                type: "GET",
                                dataType: "JSON",
                                success: function (res) {
                                    document.getElementById("气温").innerHTML = res["tem_day"] + "~" + res["tem_night"] + "℃";
                                    document.getElementById("实时温度").innerHTML = res["tem"];
                                    document.getElementById("湿度").innerHTML = res["humidity"];
                                    document.getElementById("风况").innerHTML = res["win"] +"   "+ res["win_speed"];
                                    document.getElementById("天气情况").innerHTML = res["wea"];
                                    document.getElementById("空气质量").innerHTML = res["air"];
                                    document.getElementById("星期").innerHTML = res["week"];
                                    document.getElementById("地区").innerHTML = res["city"];
                                }
                            });
                            setInterval(makeAjaxRequest3, 60000);
                            function makeAjaxRequest3() {
                                $.ajax({
                                    url: "https://www.yiketianqi.com/free/day?appid=99843139&appsecret=8Qxh0NDo&unescape=1&cityid=101250101",
                                    type: "GET",
                                    dataType: "JSON",
                                    success: function (res) {
                                        document.getElementById("qiwen").innerHTML = res["tem_day"] + "~" + res["tem_night"];
                                        document.getElementById("shishiwendu").innerHTML = res["tem"];
                                        document.getElementById("jiangshuiliang").innerHTML = res["humidity"];
                                        document.getElementById("fengkuang").innerHTML = res["win"];
                                        document.getElementById("tiqnqiqingkuang").innerHTML = res["wea"];
                                    }
                                });
                            }

                        </script>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="tit">各品牌数据对比</div>
                <div class="boxnav" id="echart6" style="height: 497px;"></div>
            </div>

            <!-- <div class="box">
                <div class="tit">我是标题四</div>
                <div class="boxnav" style="height: 220px;" id="echart7"></div>
            </div> -->
            <div class="box">
                <div class="tit">我是标题五</div>
                <div class="boxnav" style="height: 190px;">
                    <ul class="gnlb">
                        <li><span>月平均小时：<em>119351</em></span></li>
                        <li><span>月平均小时：<em>119351</em></span></li>
                        <li><span>月平均小时：<em>119351</em></span></li>
                        <li><span>月平均小时：<em>119351</em></span></li>
                        <li><span>月平均小时：<em>119351</em></span></li>
                        <li><span>月平均小时：<em>119351</em></span></li>
                    </ul>

                </div>
            </div>
        </li>
    </ul>


</div>
</body>
</html>
